@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FFFDE7;
  --color-background:#FFFDE7;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --black: #171717;
  --grey: #262626;
  --white: #FFFDE7;
  --red:#ff1827;
  --rosspurple: #A297C9;
  --rossdarkpurple: #6954b1;
  --rossblue: #C4E7E4;
  --rossdarkblue: #579691;
  --articlebackground: var(--white);
  --articleforeground: var(--black);
  --background: var(--white);
  --foreground: var(--black);
    --transition: 0.5s ease;
}
@layer base {
  html {
      font-family: CascadiaCode, sans-serif, system-ui;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
      background-color: var(--white);
      transition: color var(--transition);
    }
  html::before {
      content: "";
      position: fixed;
      height: 100%;
      width: 100%;
      background: var(--black);
      transform: translateX(-100%);
      transition: transform var(--transition);
      z-index: 0;
    }
    html.dark section a {
      color: #60a5fa
    }
    html.dark .navigation a {
      color: #60a5fa
    }
    section a {
      color: blue
    }
    h1 {
      font-family: MPLUS1Code;
      letter-spacing: 2px;
      line-height: 1.2em;
      font-size: 3vmax;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
  }
  h2 {
      font-family: MPLUS1Code;
      letter-spacing: 2px;
      line-height: 1.2em;
      font-size: 2.2vmax;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      width: 100%;
      max-width: 672px;
  }
  h3 {
    font-family: MPLUS1Code;
    letter-spacing: 2px;
    line-height: 1.2em;
    font-size: 1.5vmax;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  h4 {
      font-family: MPLUS1Code;
      font-size: 1.5rem;
      padding-bottom: 0.25em;
  }
  p {
      font-family: CascadiaCode;
    }
  li > ul { display: none; }
  li:hover > ul { display: block; }
  .lvl1 li { display: relative; position:relative; }
  .lvl2 { position: absolute; }
  .lvl2 li { 
    position: relative;
   }
  html::-webkit-scrollbar {
    display: none;
  }

  a:hover {
    --tw-scale-x: 1.01;
    --tw-scale-y: 1.01;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'CascadiaCode';
  src: local('CascadiaCode'), url(/fonts/CascadiaCode/woff2/CascadiaCode.woff2) format('woff2');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'MPLUS1Code';
  src: local('MPLUS1Code'), url(/fonts/MPLUS1Code/MPLUS1Code-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.preload {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.toggle .hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.toggle-wrapper {
  width: 60px;
  display: block;
}

.toggle {
  height: 25px;
  width: 60px;
  background: var(--background);
  transition: background var(--transition);
  border-radius: 40px;
  padding: 3px;
  position: relative;
  margin: auto; 
  cursor: pointer;
}

.toggle::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: var(--foreground);
  transition: transform var(--transition), background var(--transition);
  position: absolute;
  z-index: 2;
  transform: translate(0);
  transition: transform var(--transition);
}

.toggle.enabled::before {
  transform: translateX(32px);
}

.toggle input {
    position: absolute;
    top: 0;
  opacity: 0;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5px;
}

.toggle .icons svg {
  fill: var(--background);
  height: 15px;
  width: 15px;
  z-index: 0;
}

/* When the darkmode class is applied, set the pseudo element position to 0 */
.dark::before {
  transform: translateX(0);
}