@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 45 57% 34%;
    --foreground: 224 71.4% 4.1%;

    --card: 45 57% 84%;
    --card-foreground: 169 83% 16%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 169 83% 16%;
 
    --primary: 169 83% 16%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 150 50% 67%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 65 29% 51%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    -webkit-text-stroke: 1px hsl(var(--popover));
  }
}



.hexgrid {
	height: 100vh;
	--sz: 10px; /*** size ***/
	--c0: #3a1b0f;
	--c1: #ffc56f;
  --c2: #d99838;
  --c3: #9b5e05;
  --ts: 50%/ calc(var(--sz) * 12.8) calc(var(--sz) * 22);
  background:
		/*bottom*/
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
		/*bottom dark*/
		conic-gradient(from 120deg at 50% 74%, var(--c0) 0 120deg, #fff0 0 360deg) var(--ts),
		/*right*/
		conic-gradient(from 60deg at 60% 50%, var(--c1) 0 60deg, var(--c2) 0 120deg, #fff0 0 360deg) var(--ts),
		/*left*/
		conic-gradient(from 180deg at 40% 50%, var(--c3) 0 60deg, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
		/*top dark*/
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg) var(--ts),
		/*top*/
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg) var(--ts),
		conic-gradient(from -60deg at 50% 41%, var(--c2) 0 60deg, var(--c3) 0 120deg, #fff0 0 360deg) var(--ts),
		var(--c0) ;
}

@keyframes logospin {
  to {
      transform: rotate(360deg);
  }
}
@keyframes logospin-reverse {
  to {
      transform: rotate(-360deg);
  }
}
.animate-logo-spin .fastest {
  animation: logospin 13s linear infinite;
}
.animate-logo-spin .fast {
  animation: logospin 17s linear infinite;
}
.animate-logo-spin .medFast {
  animation: logospin 25s linear infinite;
}
.animate-logo-spin .medSlow {
  animation: logospin 30s linear infinite;
}
.animate-logo-spin .slower {
  animation: logospin 35s linear infinite;
}
.animate-logo-spin .slowest {
  animation: logospin 38s linear infinite;
}
.animate-logo-spin-reverse .fastest {
  animation: logospin-reverse 13s linear infinite;
}
.animate-logo-spin-reverse .fast {
  animation: logospin-reverse 17s linear infinite;
}
.animate-logo-spin-reverse .medFast {
  animation: logospin-reverse 25s linear infinite;
}
.animate-logo-spin-reverse .medSlow {
  animation: logospin-reverse 30s linear infinite;
}
.animate-logo-spin-reverse .slower {
  animation: logospin-reverse 35s linear infinite;
}
.animate-logo-spin-reverse .slowest {
  animation: logospin-reverse 38s linear infinite;
}